<form method="post" action="{{ path('combat_delete', {'id': combat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ combat.id) }}">
    <button class="btn">Delete</button>
</form>
