{% extends 'base.html.twig' %}

{% block title %}Edit Combat{% endblock %}

{% block body %}
    <h1>Edit Combat</h1>

    {{ include('combat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('combat_index') }}">back to list</a>

    {{ include('combat/_delete_form.html.twig') }}
{% endblock %}
