{% extends 'base.html.twig' %}

{% block title %}Combat index{% endblock %}

{% block body %}
    <h1>Combat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>AGagner</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for combat in combats %}
            <tr>
                <td>{{ combat.id }}</td>
                <td>{{ combat.date ? combat.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ combat.aGagner ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('combat_show', {'id': combat.id}) }}">show</a>
                    <a href="{{ path('combat_edit', {'id': combat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('combat_new') }}">Create new</a>
{% endblock %}
