{% extends 'base.html.twig' %}

{% block title %}Combat{% endblock %}

{% block body %}
    <h1>Combat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ combat.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ combat.date ? combat.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>AGagner</th>
                <td>{{ combat.aGagner ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('combat_index') }}">back to list</a>

    <a href="{{ path('combat_edit', {'id': combat.id}) }}">edit</a>

    {{ include('combat/_delete_form.html.twig') }}
{% endblock %}
