<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<style>
			html,
			body {
				background-color: #fff;
				color: #636b6f;
				font-family: 'Nunito', sans-serif;
				font-weight: 200;
				height: 100vh;
				margin: 0;
			}
			.top-right {
				position: absolute;
				right: 10px;
				top: 18px;
			}
			.full-height {
				height: 100vh;
			}
			.flex-center {
				align-items: center;
				display: flex;
				justify-content: center;
			}
			.position-ref {
				position: relative;
			}
			.content {
				text-align: center;
			}
			.title {
				font-size: 84px;
			}
			.links > a {
				color: #636b6f;
				padding: 0 25px;
				font-size: 13px;
				font-weight: 600;
				letter-spacing: 0.1rem;
				text-decoration: none;
				text-transform: uppercase;
			}
			.m-b-md {
				margin-bottom: 30px;
			}
		</style>
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
