<form method="post" action="{{ path('coup_special_delete', {'id': coup_special.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coup_special.id) }}">
    <button class="btn">Delete</button>
</form>
