{% extends 'base.html.twig' %}

{% block title %}Edit CoupSpecial{% endblock %}

{% block body %}
    <h1>Edit CoupSpecial</h1>

    {{ include('coup_special/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('coup_special_index') }}">back to list</a>

    {{ include('coup_special/_delete_form.html.twig') }}
{% endblock %}
