{% extends 'base.html.twig' %}

{% block title %}CoupSpecial index{% endblock %}

{% block body %}
    <h1>CoupSpecial index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Pourcentage</th>
                <th>Direction</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coup_special in coup_specials %}
            <tr>
                <td>{{ coup_special.id }}</td>
                <td>{{ coup_special.name }}</td>
                <td>{{ coup_special.pourcentage }}</td>
                <td>{{ coup_special.direction }}</td>
                <td>
                    <a href="{{ path('coup_special_show', {'id': coup_special.id}) }}">show</a>
                    <a href="{{ path('coup_special_edit', {'id': coup_special.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('coup_special_new') }}">Create new</a>
{% endblock %}
