{% extends 'base.html.twig' %}

{% block title %}New CoupSpecial{% endblock %}

{% block body %}
    <h1>Create new CoupSpecial</h1>

    {{ include('coup_special/_form.html.twig') }}

    <a href="{{ path('coup_special_index') }}">back to list</a>
{% endblock %}
