{% extends 'base.html.twig' %}

{% block title %}CoupSpecial{% endblock %}

{% block body %}
    <h1>CoupSpecial</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coup_special.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ coup_special.name }}</td>
            </tr>
            <tr>
                <th>Pourcentage</th>
                <td>{{ coup_special.pourcentage }}</td>
            </tr>
            <tr>
                <th>Direction</th>
                <td>{{ coup_special.direction }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('coup_special_index') }}">back to list</a>

    <a href="{{ path('coup_special_edit', {'id': coup_special.id}) }}">edit</a>

    {{ include('coup_special/_delete_form.html.twig') }}
{% endblock %}
